<div class="setup-container">
  <div class="header-row">
    <input type="text" class="game-name-input" placeholder="Game Name" [(ngModel)]="gameName">
    <select id="player-count" class="player-count-dropdown" [(ngModel)]="playerCount" (change)="updatePlayers()">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="player-list">
    <div class="player-card" *ngFor="let player of players; let i = index" [ngStyle]="{'background-color': getMutedColor(player.color)}">
      <div class="player-selection">
        <select class="form-select mb-1" [(ngModel)]="player.globalPlayerId" (change)="updatePlayerSelection(i)">
          <option *ngFor="let gp of availablePlayers" [value]="gp.id" [disabled]="isPlayerSelected(gp.id, i)">
            {{ gp.name }} ({{ gp.email }})
          </option>
        </select>
        <select class="form-select mb-1" [(ngModel)]="player.color">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="orange">Orange</option>
          <option value="white">White</option>
          <option value="green">Green</option>
        </select>
      </div>
    </div>
  </div>

  <div class="controls">
    <button class="btn-catan" (click)="startGame()">Start Game</button>
  </div>

  <div class="modal" *ngIf="showErrorModal">
    <div class="modal-content">
      <p>{{ errorMessage || 'Not enough players available. Please create more players in the Main Menu.' }}</p>
      <button class="btn-catan" (click)="closeErrorModal()">OK</button>
    </div>
  </div>
</div>
