<div class="setup-container">
  <!-- Game Name and Player Count -->
  <div class="header-row">
    <input type="text" class="game-name-input" placeholder="Game Name" [(ngModel)]="gameName">
    <select id="player-count" class="player-count-dropdown" [(ngModel)]="playerCount" (change)="updatePlayers()">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <!-- Player List -->
  <div class="player-list">
    <div class="player-card" *ngFor="let player of players; let i = index" [ngStyle]="{'background-color': getMutedColor(player.color)}">
      <input type="text" class="form-control mb-1" placeholder="Name" [(ngModel)]="player.name">
      <select class="form-select mb-1" [(ngModel)]="player.color" (change)="updatePlayerColor(i)">
        <option *ngFor="let color of getAvailableColorsForPlayer(i)" [value]="color">{{ color }}</option>
      </select>
    </div>
  </div>

  <!-- Start Game -->
  <div class="controls">
    <button class="btn-catan" (click)="startGame()">Start Game</button>
  </div>
</div>
