.logo {
  border: none; /* Remove border */
  border-radius: 50%; /* Ensure circular shape */
  transition: transform 0.3s; /* Keep animation */
}

.logo:hover {
  transform: rotate(5deg) scale(1.1); /* Fun hover effect */
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 250px;
  margin: 0 auto;
}
